# Analysing reproducibility of benchmark runs

Comparing 3 runs of the Operetta drug profiling dataset (see input data https://zenodo.org/records/18506825)

In [63]:
import pandas as pd
import numpy as np
from scipy.optimize import linear_sum_assignment

In [2]:
# Data loading
df1 = pd.read_csv("/Users/joel/Library/CloudStorage/Dropbox/Joel/BioVisionCenter/Fractal/Fractal_Paper/Analysis_reproducibility/regionprops_filtered_public.csv")
df2 = pd.read_csv("/Users/joel/Library/CloudStorage/Dropbox/Joel/BioVisionCenter/Fractal/Fractal_Paper/Analysis_reproducibility/regionprops_filtered_scloud.csv")
df3 = pd.read_csv("/Users/joel/Library/CloudStorage/Dropbox/Joel/BioVisionCenter/Fractal/Fractal_Paper/Analysis_reproducibility/regionprops_filtered_scluster.csv")

In [18]:
# Cell counts and counts of classified cells per well
print(f"Number of cells in df1: {len(df1)}")
print(f"Number of cells in df2: {len(df2)}")
print(f"Number of cells in df3: {len(df3)}")

Number of cells in df1: 1595788
Number of cells in df2: 1595788
Number of cells in df3: 1595788

In [19]:
print(f"Classification categories:{df1['BVC_test_data_CyQ_classifier_prediction'].unique()}")

Classification categories:['MSC' 'live leukemia' 'dead']

In [14]:
WELL_KEYS = ["row", "column"]
CLASS_COL = "BVC_test_data_CyQ_classifier_prediction"

def per_well_class_counts(df):
    return (
        df.groupby(WELL_KEYS)[CLASS_COL]
        .value_counts(dropna=False)
        .rename("count")
        .reset_index()
    )

def calculate_per_well_class_count_differences(df_r1, df_r2):
    cw1 = per_well_class_counts(df_r1)
    cw2 = per_well_class_counts(df_r2)

    p1 = cw1.pivot_table(
        index=WELL_KEYS,
        columns=CLASS_COL,
        values="count",
        fill_value=0,
    )

    p2 = cw2.pivot_table(
        index=WELL_KEYS,
        columns=CLASS_COL,
        values="count",
        fill_value=0,
    )

    p1a, p2a = p1.align(p2, fill_value=0)
    count_diff = p1a - p2a

    wells_with_count_diff = count_diff.any(axis=1)
    print(f"Number of wells: {len(wells_with_count_diff)}")

    return wells_with_count_diff.sum()

In [15]:
print(
    "Wells with differing classification counts between R1 and R2:"
    f"{calculate_per_well_class_count_differences(df1, df2)}"
)
print(
    "Wells with differing classification counts between R1 and R3:"
    f"{calculate_per_well_class_count_differences(df1, df3)}"
)
print(
    "Wells with differing classification counts between R2 and R3:"
    f"{calculate_per_well_class_count_differences(df2, df3)}"
)

Number of wells: 240
Wells with differing classification counts between R1 and R2:0
Number of wells: 240
Wells with differing classification counts between R1 and R3:0
Number of wells: 240
Wells with differing classification counts between R2 and R3:0

## Single cell measurement comparisons

In [25]:
# Check that columns match
print(sorted(df1.columns) == sorted(df2.columns))
print(sorted(df1.columns) == sorted(df3.columns))
print(sorted(df2.columns) == sorted(df3.columns))

True
True
True

In [ ]:
# Exact image_url will vary depending on deployment. 
# Plate names depend on base folder name in a given deployment
# Labels have some permutations due to Stardist segmentation
# BVC_test_data_CyQ_classifier_prediction has already been shown to be equal and is a string column
MEAS_COLS = [
    c for c in df1.columns
    if c not in {"BVC_test_data_CyQ_classifier_prediction", "label", "image_url", "plate_name"}
    and pd.api.types.is_numeric_dtype(df1[c])
]
MEAS_COLS

['area',
 'area_convex',
 'intensity_mean',
 'intensity_max',
 'intensity_min',
 'intensity_std',
 'eccentricity',
 'perimeter',
 'perimeter_crofton',
 'solidity',
 'equivalent_diameter_area',
 'feret_diameter_max',
 'axis_major_length',
 'axis_minor_length',
 'orientation',
 'extent',
 'inertia_tensor_eigvals-0',
 'inertia_tensor_eigvals-1',
 'bbox-0',
 'bbox-1',
 'bbox-2',
 'bbox-3',
 'area_bbox',
 'centroid-0',
 'centroid-1',
 'centroid_weighted-0',
 'centroid_weighted-1',
 'column',
 'path_in_well']

In [50]:
def extract_well(df, well_row, well_col, cols):
    return (
        df[(df["row"] == well_row) & (df["column"] == well_col)]
        [cols]
        .copy()
    )

def canonicalize_measurements(df, cols, decimals=None):
    # Ensure column sorting & optionally rounding to avoid numerical precision issues
    tmp = df[sorted(cols)].copy()
    if decimals is not None:
        tmp = tmp.round(decimals)
    return tmp

def object_hashes(df):
    return pd.util.hash_pandas_object(df, index=False)

def permutation_test_well(
    dfA,
    dfB,
    well_row,
    well_col,
    meas_cols,
    decimals=6
):
    A = extract_well(dfA, well_row, well_col, meas_cols)
    B = extract_well(dfB, well_row, well_col, meas_cols)

    print("Object counts:", len(A), len(B))

    A = canonicalize_measurements(A, meas_cols, decimals)
    B = canonicalize_measurements(B, meas_cols, decimals)

    hA = object_hashes(A).sort_values().reset_index(drop=True)
    hB = object_hashes(B).sort_values().reset_index(drop=True)

    identical = hA.equals(hB)

    return {
        "identical_multiset": identical,
        "n_objects_A": len(A),
        "n_objects_B": len(B),
        "n_unique_hash_A": hA.nunique(),
        "n_unique_hash_B": hB.nunique(),
        "n_hash_diff": (~hA.isin(hB)).sum() + (~hB.isin(hA)).sum()
    }

def split_matches(dfA, dfB, well_row, well_col, cols, decimals=6):
    A = extract_well(dfA, well_row, well_col, cols)
    B = extract_well(dfB, well_row, well_col, cols)

    A = canonicalize_measurements(A, cols, decimals)
    B = canonicalize_measurements(B, cols, decimals)

    hA = object_hashes(A)
    hB = object_hashes(B)

    A = A.copy()
    B = B.copy()
    A["_hash"] = hA.to_numpy()
    B["_hash"] = hB.to_numpy()

    # Collision diagnostics
    nA, nB = len(A), len(B)
    uA, uB = A["_hash"].nunique(), B["_hash"].nunique()
    collA, collB = nA - uA, nB - uB

    mask_A = hA.isin(hB)
    mask_B = hB.isin(hA)

    matched_A = A[mask_A]
    matched_B = B[mask_B]
 
    unmatched_A = A[~mask_A]
    unmatched_B = B[~mask_B]

    return matched_A, matched_B, unmatched_A, unmatched_B, collA, collB

def calc_mismatches_across_wells(df_r1, df_r2, wells, meas_cols, decimals=6):
    mismatched_cells = {}
    mismatch_counter = 0
    for well_row, well_col in wells:
        matched_A, matched_B, unmatched_A, unmatched_B, collA, collB = split_matches(
            df_r1,
            df_r2,
            well_row=well_row,
            well_col=well_col,
            cols=meas_cols,
            decimals=decimals,
        )
        assert collA == 0, f"Hash collisions in A for well {well_row}{well_col}"
        assert collB == 0, f"Hash collisions in B for well {well_row}{well_col}"
        total_objects = len(matched_A) + len(unmatched_A)
        fraction_matched = len(matched_A) / total_objects
        print(
            f"Matched {len(matched_A)} out of {total_objects} objects "
            f"({fraction_matched:.2%}) in well {well_row}{well_col}"
        )
        if len(unmatched_A) > 0 or len(unmatched_B) > 0:
            mismatch_counter += total_objects - len(matched_A)
            mismatched_cells[f"{well_row}{well_col}"] = {
                "unmatched_A": unmatched_A,
                "unmatched_B": unmatched_B
            }
            print(f"Unmatched cells in {well_row}{well_col}:")
            print(f"  Unmatched A: {len(unmatched_A)} objects")
            print(f"  Unmatched B: {len(unmatched_B)} objects")
    
    print(f"Total mismatched cells across wells: {mismatch_counter}")
    return mismatched_cells, mismatch_counter

In [33]:
result = permutation_test_well(
    df1,
    df3,
    well_row="C",
    well_col=3,
    meas_cols=MEAS_COLS,
    decimals=6
)

result

Object counts: 9601 9601

{'identical_multiset': False,
 'n_objects_A': 9601,
 'n_objects_B': 9601,
 'n_unique_hash_A': 9601,
 'n_unique_hash_B': 9601,
 'n_hash_diff': np.int64(2)}

In [35]:
matched_A, matched_B, unmatched_A, unmatched_B = split_matches(
    df1,
    df2,
    well_row="C",
    well_col=3,
    cols=MEAS_COLS,
    decimals=6
)
total_objects = len(matched_A) + len(unmatched_A)
fraction_matched = len(matched_A) / total_objects
print(f"Matched {len(matched_A)} out of {total_objects} objects ({fraction_matched:.2%}) in well C3")

Matched 9600 out of 9601 objects (99.99%) in well C3

In [52]:
wells = list(df1[["row", "column"]].drop_duplicates().itertuples(index=False, name=None))

mismatched_cells_12, mismatch_counter_12 = calc_mismatches_across_wells(df1, df2, wells, MEAS_COLS, decimals=6)
mismatched_cells_13, mismatch_counter_13 = calc_mismatches_across_wells(df1, df3, wells, MEAS_COLS, decimals=6)
mismatched_cells_23, mismatch_counter_23 = calc_mismatches_across_wells(df2, df3, wells, MEAS_COLS, decimals=6)

print(mismatch_counter_12)
print(mismatch_counter_13)
print(mismatch_counter_23)

Matched 9644 out of 9644 objects (100.00%) in well C10
Matched 9232 out of 9232 objects (100.00%) in well C11
Matched 9681 out of 9681 objects (100.00%) in well C12
Matched 10002 out of 10002 objects (100.00%) in well C13
Matched 9949 out of 9949 objects (100.00%) in well C14
Matched 9056 out of 9056 objects (100.00%) in well C15
Matched 8700 out of 8700 objects (100.00%) in well C16
Matched 8224 out of 8224 objects (100.00%) in well C17
Matched 9709 out of 9709 objects (100.00%) in well C18
Matched 9982 out of 9982 objects (100.00%) in well C19
Matched 9142 out of 9142 objects (100.00%) in well C20
Matched 8846 out of 8846 objects (100.00%) in well C21
Matched 6787 out of 6787 objects (100.00%) in well C22
Matched 9600 out of 9601 objects (99.99%) in well C3
Unmatched cells in C3:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9776 out of 9776 objects (100.00%) in well C4
Matched 10155 out of 10156 objects (99.99%) in well C5
Unmatched cells in C5:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8970 out of 8970 objects (100.00%) in well C6
Matched 8174 out of 8174 objects (100.00%) in well C7
Matched 8886 out of 8886 objects (100.00%) in well C8
Matched 9137 out of 9137 objects (100.00%) in well C9
Matched 6835 out of 6835 objects (100.00%) in well D10
Matched 6701 out of 6701 objects (100.00%) in well D11
Matched 9972 out of 9972 objects (100.00%) in well D12
Matched 9339 out of 9339 objects (100.00%) in well D13
Matched 9054 out of 9054 objects (100.00%) in well D14
Matched 9532 out of 9532 objects (100.00%) in well D15
Matched 9490 out of 9490 objects (100.00%) in well D16
Matched 8318 out of 8318 objects (100.00%) in well D17
Matched 7975 out of 7975 objects (100.00%) in well D18
Matched 9972 out of 9972 objects (100.00%) in well D19
Matched 9386 out of 9386 objects (100.00%) in well D20
Matched 8837 out of 8837 objects (100.00%) in well D21
Matched 8076 out of 8076 objects (100.00%) in well D22
Matched 9170 out of 9170 objects (100.00%) in well D3
Matched 9162 out of 9162 objects (100.00%) in well D4
Matched 7416 out of 7416 objects (100.00%) in well D5
Matched 7311 out of 7311 objects (100.00%) in well D6
Matched 7872 out of 7872 objects (100.00%) in well D7
Matched 8894 out of 8894 objects (100.00%) in well D8
Matched 9514 out of 9514 objects (100.00%) in well D9
Matched 9635 out of 9635 objects (100.00%) in well E10
Matched 7863 out of 7863 objects (100.00%) in well E11
Matched 8529 out of 8529 objects (100.00%) in well E12
Matched 9490 out of 9490 objects (100.00%) in well E13
Matched 8447 out of 8447 objects (100.00%) in well E14
Matched 9434 out of 9434 objects (100.00%) in well E15
Matched 8294 out of 8294 objects (100.00%) in well E16
Matched 8354 out of 8354 objects (100.00%) in well E17
Matched 7836 out of 7836 objects (100.00%) in well E18
Matched 9774 out of 9774 objects (100.00%) in well E19
Matched 6568 out of 6568 objects (100.00%) in well E20
Matched 7463 out of 7463 objects (100.00%) in well E21
Matched 7938 out of 7939 objects (99.99%) in well E22
Unmatched cells in E22:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8558 out of 8558 objects (100.00%) in well E3
Matched 7374 out of 7374 objects (100.00%) in well E4
Matched 8745 out of 8745 objects (100.00%) in well E5
Matched 9260 out of 9260 objects (100.00%) in well E6
Matched 3746 out of 3746 objects (100.00%) in well E7
Matched 8068 out of 8068 objects (100.00%) in well E8
Matched 9429 out of 9429 objects (100.00%) in well E9
Matched 8904 out of 8904 objects (100.00%) in well F10
Matched 8305 out of 8305 objects (100.00%) in well F11
Matched 10362 out of 10362 objects (100.00%) in well F12
Matched 6839 out of 6839 objects (100.00%) in well F13
Matched 8391 out of 8391 objects (100.00%) in well F14
Matched 7623 out of 7623 objects (100.00%) in well F15
Matched 7454 out of 7454 objects (100.00%) in well F16
Matched 7182 out of 7182 objects (100.00%) in well F17
Matched 7566 out of 7566 objects (100.00%) in well F18
Matched 6465 out of 6465 objects (100.00%) in well F19
Matched 7614 out of 7614 objects (100.00%) in well F20
Matched 7412 out of 7412 objects (100.00%) in well F21
Matched 6963 out of 6963 objects (100.00%) in well F22
Matched 9273 out of 9273 objects (100.00%) in well F3
Matched 9001 out of 9003 objects (99.98%) in well F4
Unmatched cells in F4:
  Unmatched A: 2 objects
  Unmatched B: 2 objects
Matched 6646 out of 6646 objects (100.00%) in well F5
Matched 10364 out of 10364 objects (100.00%) in well F6
Matched 4584 out of 4584 objects (100.00%) in well F7
Matched 8814 out of 8814 objects (100.00%) in well F8
Matched 8585 out of 8585 objects (100.00%) in well F9
Matched 9767 out of 9767 objects (100.00%) in well G10
Matched 4397 out of 4397 objects (100.00%) in well G11
Matched 7468 out of 7468 objects (100.00%) in well G12
Matched 9726 out of 9727 objects (99.99%) in well G13
Unmatched cells in G13:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 5509 out of 5509 objects (100.00%) in well G14
Matched 6219 out of 6220 objects (99.98%) in well G15
Unmatched cells in G15:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 3781 out of 3781 objects (100.00%) in well G16
Matched 6291 out of 6291 objects (100.00%) in well G17
Matched 6928 out of 6928 objects (100.00%) in well G18
Matched 9603 out of 9603 objects (100.00%) in well G19
Matched 6759 out of 6759 objects (100.00%) in well G20
Matched 4702 out of 4702 objects (100.00%) in well G21
Matched 8444 out of 8444 objects (100.00%) in well G22
Matched 9425 out of 9425 objects (100.00%) in well G3
Matched 3488 out of 3488 objects (100.00%) in well G4
Matched 6033 out of 6033 objects (100.00%) in well G5
Matched 8717 out of 8718 objects (99.99%) in well G6
Unmatched cells in G6:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4177 out of 4177 objects (100.00%) in well G7
Matched 6477 out of 6477 objects (100.00%) in well G8
Matched 9545 out of 9545 objects (100.00%) in well G9
Matched 9386 out of 9386 objects (100.00%) in well H10
Matched 4100 out of 4100 objects (100.00%) in well H11
Matched 8958 out of 8958 objects (100.00%) in well H12
Matched 9800 out of 9800 objects (100.00%) in well H13
Matched 5017 out of 5017 objects (100.00%) in well H14
Matched 6799 out of 6799 objects (100.00%) in well H15
Matched 4012 out of 4012 objects (100.00%) in well H16
Matched 8161 out of 8161 objects (100.00%) in well H17
Matched 5829 out of 5829 objects (100.00%) in well H18
Matched 9653 out of 9653 objects (100.00%) in well H19
Matched 7133 out of 7133 objects (100.00%) in well H20
Matched 6684 out of 6684 objects (100.00%) in well H21
Matched 9845 out of 9846 objects (99.99%) in well H22
Unmatched cells in H22:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 7960 out of 7960 objects (100.00%) in well H3
Matched 3044 out of 3044 objects (100.00%) in well H4
Matched 3515 out of 3515 objects (100.00%) in well H5
Matched 9876 out of 9876 objects (100.00%) in well H6
Matched 4177 out of 4177 objects (100.00%) in well H7
Matched 7015 out of 7015 objects (100.00%) in well H8
Matched 9700 out of 9701 objects (99.99%) in well H9
Unmatched cells in H9:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9730 out of 9730 objects (100.00%) in well I10
Matched 3476 out of 3476 objects (100.00%) in well I11
Matched 3499 out of 3499 objects (100.00%) in well I12
Matched 7614 out of 7614 objects (100.00%) in well I13
Matched 4470 out of 4470 objects (100.00%) in well I14
Matched 3015 out of 3015 objects (100.00%) in well I15
Matched 2120 out of 2120 objects (100.00%) in well I16
Matched 6453 out of 6453 objects (100.00%) in well I17
Matched 5452 out of 5452 objects (100.00%) in well I18
Matched 8398 out of 8398 objects (100.00%) in well I19
Matched 5048 out of 5048 objects (100.00%) in well I20
Matched 1866 out of 1866 objects (100.00%) in well I21
Matched 8471 out of 8471 objects (100.00%) in well I22
Matched 7209 out of 7210 objects (99.99%) in well I3
Unmatched cells in I3:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 2276 out of 2276 objects (100.00%) in well I4
Matched 3268 out of 3268 objects (100.00%) in well I5
Matched 4383 out of 4383 objects (100.00%) in well I6
Matched 4015 out of 4015 objects (100.00%) in well I7
Matched 4482 out of 4482 objects (100.00%) in well I8
Matched 7542 out of 7542 objects (100.00%) in well I9
Matched 8384 out of 8384 objects (100.00%) in well J10
Matched 3603 out of 3603 objects (100.00%) in well J11
Matched 4042 out of 4042 objects (100.00%) in well J12
Matched 7525 out of 7526 objects (99.99%) in well J13
Unmatched cells in J13:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4335 out of 4335 objects (100.00%) in well J14
Matched 2871 out of 2871 objects (100.00%) in well J15
Matched 2433 out of 2433 objects (100.00%) in well J16
Matched 6709 out of 6709 objects (100.00%) in well J17
Matched 5750 out of 5750 objects (100.00%) in well J18
Matched 8121 out of 8122 objects (99.99%) in well J19
Unmatched cells in J19:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 6367 out of 6367 objects (100.00%) in well J20
Matched 2008 out of 2008 objects (100.00%) in well J21
Matched 8052 out of 8052 objects (100.00%) in well J22
Matched 8671 out of 8671 objects (100.00%) in well J3
Matched 2185 out of 2185 objects (100.00%) in well J4
Matched 2672 out of 2672 objects (100.00%) in well J5
Matched 4663 out of 4663 objects (100.00%) in well J6
Matched 4242 out of 4243 objects (99.98%) in well J7
Unmatched cells in J7:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4909 out of 4909 objects (100.00%) in well J8
Matched 9485 out of 9486 objects (99.99%) in well J9
Unmatched cells in J9:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8695 out of 8695 objects (100.00%) in well K10
Matched 3628 out of 3628 objects (100.00%) in well K11
Matched 1732 out of 1733 objects (99.94%) in well K12
Unmatched cells in K12:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4187 out of 4187 objects (100.00%) in well K13
Matched 3393 out of 3393 objects (100.00%) in well K14
Matched 3353 out of 3353 objects (100.00%) in well K15
Matched 2359 out of 2359 objects (100.00%) in well K16
Matched 4410 out of 4410 objects (100.00%) in well K17
Matched 2926 out of 2926 objects (100.00%) in well K18
Matched 7959 out of 7959 objects (100.00%) in well K19
Matched 5141 out of 5141 objects (100.00%) in well K20
Matched 3321 out of 3321 objects (100.00%) in well K21
Matched 3908 out of 3908 objects (100.00%) in well K22
Matched 8119 out of 8119 objects (100.00%) in well K3
Matched 4396 out of 4396 objects (100.00%) in well K4
Matched 2912 out of 2912 objects (100.00%) in well K5
Matched 7948 out of 7948 objects (100.00%) in well K6
Matched 4819 out of 4820 objects (99.98%) in well K7
Unmatched cells in K7:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 3627 out of 3627 objects (100.00%) in well K8
Matched 8060 out of 8060 objects (100.00%) in well K9
Matched 7093 out of 7093 objects (100.00%) in well L10
Matched 3736 out of 3736 objects (100.00%) in well L11
Matched 1854 out of 1854 objects (100.00%) in well L12
Matched 3720 out of 3720 objects (100.00%) in well L13
Matched 3894 out of 3894 objects (100.00%) in well L14
Matched 2791 out of 2791 objects (100.00%) in well L15
Matched 2287 out of 2287 objects (100.00%) in well L16
Matched 5851 out of 5851 objects (100.00%) in well L17
Matched 2719 out of 2719 objects (100.00%) in well L18
Matched 8351 out of 8351 objects (100.00%) in well L19
Matched 6002 out of 6002 objects (100.00%) in well L20
Matched 3102 out of 3102 objects (100.00%) in well L21
Matched 5054 out of 5054 objects (100.00%) in well L22
Matched 8079 out of 8079 objects (100.00%) in well L3
Matched 3998 out of 3998 objects (100.00%) in well L4
Matched 2610 out of 2610 objects (100.00%) in well L5
Matched 7239 out of 7240 objects (99.99%) in well L6
Unmatched cells in L6:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4954 out of 4954 objects (100.00%) in well L7
Matched 3399 out of 3399 objects (100.00%) in well L8
Matched 6729 out of 6729 objects (100.00%) in well L9
Matched 7425 out of 7426 objects (99.99%) in well M10
Unmatched cells in M10:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4845 out of 4845 objects (100.00%) in well M11
Matched 2504 out of 2504 objects (100.00%) in well M12
Matched 5323 out of 5323 objects (100.00%) in well M13
Matched 4852 out of 4852 objects (100.00%) in well M14
Matched 6898 out of 6898 objects (100.00%) in well M15
Matched 3529 out of 3529 objects (100.00%) in well M16
Matched 6919 out of 6919 objects (100.00%) in well M17
Matched 3949 out of 3949 objects (100.00%) in well M18
Matched 8936 out of 8936 objects (100.00%) in well M19
Matched 6365 out of 6365 objects (100.00%) in well M20
Matched 4509 out of 4509 objects (100.00%) in well M21
Matched 5254 out of 5254 objects (100.00%) in well M22
Matched 15083 out of 15083 objects (100.00%) in well M3
Matched 4797 out of 4798 objects (99.98%) in well M4
Unmatched cells in M4:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 4123 out of 4123 objects (100.00%) in well M5
Matched 7670 out of 7670 objects (100.00%) in well M6
Matched 5162 out of 5162 objects (100.00%) in well M7
Matched 2634 out of 2634 objects (100.00%) in well M8
Matched 4556 out of 4556 objects (100.00%) in well M9
Matched 7150 out of 7150 objects (100.00%) in well N10
Matched 3952 out of 3952 objects (100.00%) in well N11
Matched 3074 out of 3074 objects (100.00%) in well N12
Matched 5732 out of 5733 objects (99.98%) in well N13
Unmatched cells in N13:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 5778 out of 5778 objects (100.00%) in well N14
Matched 5577 out of 5577 objects (100.00%) in well N15
Matched 3830 out of 3830 objects (100.00%) in well N16
Matched 9046 out of 9046 objects (100.00%) in well N17
Matched 4706 out of 4706 objects (100.00%) in well N18
Matched 9639 out of 9639 objects (100.00%) in well N19
Matched 7982 out of 7982 objects (100.00%) in well N20
Matched 5813 out of 5813 objects (100.00%) in well N21
Matched 14260 out of 14260 objects (100.00%) in well N22
Matched 8384 out of 8384 objects (100.00%) in well N3
Matched 4789 out of 4789 objects (100.00%) in well N4
Matched 2420 out of 2420 objects (100.00%) in well N5
Matched 8603 out of 8603 objects (100.00%) in well N6
Matched 4845 out of 4845 objects (100.00%) in well N7
Matched 4685 out of 4685 objects (100.00%) in well N8
Matched 4250 out of 4250 objects (100.00%) in well N9
Total mismatched cells across wells: 21
Matched 9644 out of 9644 objects (100.00%) in well C10
Matched 9232 out of 9232 objects (100.00%) in well C11
Matched 9680 out of 9681 objects (99.99%) in well C12
Unmatched cells in C12:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 10002 out of 10002 objects (100.00%) in well C13
Matched 9949 out of 9949 objects (100.00%) in well C14
Matched 9056 out of 9056 objects (100.00%) in well C15
Matched 8700 out of 8700 objects (100.00%) in well C16
Matched 8223 out of 8224 objects (99.99%) in well C17
Unmatched cells in C17:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9709 out of 9709 objects (100.00%) in well C18
Matched 9982 out of 9982 objects (100.00%) in well C19
Matched 9141 out of 9142 objects (99.99%) in well C20
Unmatched cells in C20:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8846 out of 8846 objects (100.00%) in well C21
Matched 6787 out of 6787 objects (100.00%) in well C22
Matched 9600 out of 9601 objects (99.99%) in well C3
Unmatched cells in C3:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9775 out of 9776 objects (99.99%) in well C4
Unmatched cells in C4:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 10155 out of 10156 objects (99.99%) in well C5
Unmatched cells in C5:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8970 out of 8970 objects (100.00%) in well C6
Matched 8173 out of 8174 objects (99.99%) in well C7
Unmatched cells in C7:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8886 out of 8886 objects (100.00%) in well C8
Matched 9137 out of 9137 objects (100.00%) in well C9
Matched 6834 out of 6835 objects (99.99%) in well D10
Unmatched cells in D10:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 6701 out of 6701 objects (100.00%) in well D11
Matched 9972 out of 9972 objects (100.00%) in well D12
Matched 9339 out of 9339 objects (100.00%) in well D13
Matched 9053 out of 9054 objects (99.99%) in well D14
Unmatched cells in D14:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9531 out of 9532 objects (99.99%) in well D15
Unmatched cells in D15:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9490 out of 9490 objects (100.00%) in well D16
Matched 8318 out of 8318 objects (100.00%) in well D17
Matched 7975 out of 7975 objects (100.00%) in well D18
Matched 9971 out of 9972 objects (99.99%) in well D19
Unmatched cells in D19:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9386 out of 9386 objects (100.00%) in well D20
Matched 8836 out of 8837 objects (99.99%) in well D21
Unmatched cells in D21:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8076 out of 8076 objects (100.00%) in well D22
Matched 9170 out of 9170 objects (100.00%) in well D3
Matched 9162 out of 9162 objects (100.00%) in well D4
Matched 7416 out of 7416 objects (100.00%) in well D5
Matched 7311 out of 7311 objects (100.00%) in well D6
Matched 7872 out of 7872 objects (100.00%) in well D7
Matched 8893 out of 8894 objects (99.99%) in well D8
Unmatched cells in D8:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9513 out of 9514 objects (99.99%) in well D9
Unmatched cells in D9:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9635 out of 9635 objects (100.00%) in well E10
Matched 7862 out of 7863 objects (99.99%) in well E11
Unmatched cells in E11:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8528 out of 8529 objects (99.99%) in well E12
Unmatched cells in E12:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9488 out of 9490 objects (99.98%) in well E13
Unmatched cells in E13:
  Unmatched A: 2 objects
  Unmatched B: 2 objects
Matched 8446 out of 8447 objects (99.99%) in well E14
Unmatched cells in E14:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 9434 out of 9434 objects (100.00%) in well E15
Matched 8293 out of 8294 objects (99.99%) in well E16
Unmatched cells in E16:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8354 out of 8354 objects (100.00%) in well E17
Matched 7836 out of 7836 objects (100.00%) in well E18
Matched 9773 out of 9774 objects (99.99%) in well E19
Unmatched cells in E19:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 6568 out of 6568 objects (100.00%) in well E20
Matched 7463 out of 7463 objects (100.00%) in well E21
Matched 7938 out of 7939 objects (99.99%) in well E22
Unmatched cells in E22:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8558 out of 8558 objects (100.00%) in well E3
Matched 7374 out of 7374 objects (100.00%) in well E4
Matched 8745 out of 8745 objects (100.00%) in well E5
Matched 9260 out of 9260 objects (100.00%) in well E6
Matched 3745 out of 3746 objects (99.97%) in well E7
Unmatched cells in E7:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8068 out of 8068 objects (100.00%) in well E8
Matched 9429 out of 9429 objects (100.00%) in well E9
Matched 8904 out of 8904 objects (100.00%) in well F10
Matched 8305 out of 8305 objects (100.00%) in well F11
Matched 10362 out of 10362 objects (100.00%) in well F12
Matched 6838 out of 6839 objects (99.99%) in well F13
Unmatched cells in F13:
  Unmatched A: 1 objects
  Unmatched B: 1 objects
Matched 8391 out of 8391 objects (100.00%) in well F14
Matched 7623 out of 7623 objects (100.00%) in well F15
Matched 7454 out of 7454 objects (100.00%) in well F16

In [54]:
def verify_unmatched_symmetry(mismatched_cells):
    summary = []

    for well, d in mismatched_cells.items():
        nA = len(d["unmatched_A"])
        nB = len(d["unmatched_B"])

        summary.append({
            "well": well,
            "n_unmatched_A": nA,
            "n_unmatched_B": nB,
            "symmetric": nA == nB
        })

    return pd.DataFrame(summary)

In [62]:
print(
    "Matching number of unmatched cells in both replicates for R1 vs R2: "
    f"{verify_unmatched_symmetry(mismatched_cells_12)["symmetric"].all()}"
)
print(
    "Matching number of unmatched cells in both replicates for R1 vs R3: "
    f"{verify_unmatched_symmetry(mismatched_cells_13)["symmetric"].all()}"
)
print(
    "Matching number of unmatched cells in both replicates for R2 vs R3: "
    f"{verify_unmatched_symmetry(mismatched_cells_23)["symmetric"].all()}"
)

Matching number of unmatched cells in both replicates for R1 vs R2: True
Matching number of unmatched cells in both replicates for R1 vs R3: True
Matching number of unmatched cells in both replicates for R2 vs R3: True

In [94]:
def match_unmatched_cells(dfA, dfB, cols):
    num_cols = [c for c in cols if pd.api.types.is_numeric_dtype(dfA[c])]

    XA = dfA[num_cols].to_numpy(dtype="float64")
    XB = dfB[num_cols].to_numpy(dtype="float64")

    # Standardize features
    scale = np.nanstd(np.vstack([XA, XB]), axis=0)
    scale[scale == 0] = 1.0

    XA = XA / scale
    XB = XB / scale

    # Pairwise distance matrix
    dist = np.sqrt(((XA[:, None, :] - XB[None, :, :]) ** 2).sum(axis=2))

    row_ind, col_ind = linear_sum_assignment(dist)

    return row_ind, col_ind, dist[row_ind, col_ind]

def compare_unmatched_cells(dfA, dfB, cols):
    rows_A, rows_B, _ = match_unmatched_cells(dfA, dfB, cols)

    diffs = []

    for iA, iB in zip(rows_A, rows_B):
        a = dfA.iloc[iA]
        b = dfB.iloc[iB]

        entry = {}

        for c in cols:
            if not pd.api.types.is_numeric_dtype(dfA[c]):
                continue

            absdiff = abs(a[c] - b[c])

            rel = np.nan
            if a[c] != 0:
                rel = absdiff / abs(a[c])

            entry[f"absdiff__{c}"] = absdiff
            entry[f"reldiff__{c}"] = rel

        diffs.append(entry)

    return pd.DataFrame(diffs)

In [ ]:
# def match_unmatched_cells_by_centroid(
#     dfA: pd.DataFrame,
#     dfB: pd.DataFrame,
#     c0: str = "centroid-0",
#     c1: str = "centroid-1",
#     max_dist: float | None = None,   # optional gating in pixels
# ):
#     """
#     Promixity-based pairing of unmatched cells based on centroid coordinates.

#     - Uses Hungarian assignment to minimize total Euclidean distance.
#     - If max_dist is set, pairs beyond max_dist are excluded (returned as unassigned).
#     """

#     if len(dfA) == 0 or len(dfB) == 0:
#         return {
#             "pairs": [],                 # list of (iA, iB, dist)
#             "unassigned_A": list(range(len(dfA))),
#             "unassigned_B": list(range(len(dfB))),
#         }

#     XA = dfA[[c0, c1]].to_numpy(dtype="float64")
#     XB = dfB[[c0, c1]].to_numpy(dtype="float64")

#     # Pairwise Euclidean distances
#     dist = np.sqrt(((XA[:, None, :] - XB[None, :, :]) ** 2).sum(axis=2))

#     row_ind, col_ind = linear_sum_assignment(dist)

#     pairs = []
#     unassigned_A = set(range(len(dfA)))
#     unassigned_B = set(range(len(dfB)))

#     for iA, iB in zip(row_ind, col_ind):
#         d = float(dist[iA, iB])
#         if (max_dist is None) or (d <= max_dist):
#             pairs.append((iA, iB, d))
#             unassigned_A.discard(iA)
#             unassigned_B.discard(iB)

#     return {
#         "pairs": pairs,
#         "unassigned_A": sorted(unassigned_A),
#         "unassigned_B": sorted(unassigned_B),
#     }

# def diffs_for_centroid_pairs(dfA, dfB, pairs, cols, rel_eps=0.0):
#     num_cols = [c for c in cols if pd.api.types.is_numeric_dtype(dfA[c])]
#     rows = []

#     for iA, iB, d in pairs:
#         a = dfA.iloc[iA]
#         b = dfB.iloc[iB]
#         row = {"A_index": a.name, "B_index": b.name, "centroid_dist": d}

#         for c in num_cols:
#             av = float(a[c]) if pd.notna(a[c]) else np.nan
#             bv = float(b[c]) if pd.notna(b[c]) else np.nan
#             absdiff = abs(av - bv) if (np.isfinite(av) and np.isfinite(bv)) else np.nan

#             if np.isnan(av):
#                 reldiff = np.nan
#             else:
#                 denom = abs(av)
#                 if denom == 0:
#                     reldiff = np.nan if rel_eps == 0.0 else absdiff / rel_eps
#                 else:
#                     reldiff = absdiff / denom

#             row[f"absdiff__{c}"] = absdiff
#             row[f"reldiff__{c}"] = reldiff

#         rows.append(row)

#     return pd.DataFrame(rows)

# all_diffs_12 = []
# for well, d in mismatched_cells_12.items():

#     dfA = d["unmatched_A"]
#     dfB = d["unmatched_B"]

#     match = match_unmatched_cells_by_centroid(dfA, dfB, max_dist=5.0)  # e.g. 5 px gate
#     match["pairs"], match["unassigned_A"], match["unassigned_B"]
#     diff_df = diffs_for_centroid_pairs(dfA, dfB, match["pairs"], MEAS_COLS)
#     diff_df.sort_values("centroid_dist", ascending=False).head()
#     all_diffs_12.append(diff_df)
    
# all_diffs_12 = pd.concat(all_diffs_12, ignore_index=True)
# all_diffs_12

In [100]:
all_diffs_12 = []

for well, d in mismatched_cells_12.items():

    dfA = d["unmatched_A"]
    dfB = d["unmatched_B"]

    diff_df = compare_unmatched_cells(dfA, dfB, MEAS_COLS)
    diff_df["well"] = well

    all_diffs_12.append(diff_df)

all_diffs_12 = pd.concat(all_diffs_12, ignore_index=True)
all_diffs_12.to_csv("unmatched_cell_differences_R1_vs_R2.csv", index=False)

In [101]:
all_diffs_13 = []

for well, d in mismatched_cells_13.items():

    dfA = d["unmatched_A"]
    dfB = d["unmatched_B"]

    diff_df = compare_unmatched_cells(dfA, dfB, MEAS_COLS)
    diff_df["well"] = well

    all_diffs_13.append(diff_df)

all_diffs_13 = pd.concat(all_diffs_13, ignore_index=True)
all_diffs_13.to_csv("unmatched_cell_differences_R1_vs_R3.csv", index=False)

In [102]:
all_diffs_23 = []

for well, d in mismatched_cells_23.items():

    dfA = d["unmatched_A"]
    dfB = d["unmatched_B"]

    diff_df = compare_unmatched_cells(dfA, dfB, MEAS_COLS)
    diff_df["well"] = well

    all_diffs_23.append(diff_df)

all_diffs_23 = pd.concat(all_diffs_23, ignore_index=True)
all_diffs_23.to_csv("unmatched_cell_differences_R2_vs_R3.csv", index=False)

In [72]:
def mismatches_per_well(mismatched_cells):
    rows = []

    for well, d in mismatched_cells.items():
        nA = len(d["unmatched_A"])
        nB = len(d["unmatched_B"])

        rows.append({
            "well": well,
            "n_unmatched_A": nA,
            "n_unmatched_B": nB,
            "n_unmatched": max(nA, nB),
            "symmetric": nA == nB
        })

    return (
        pd.DataFrame(rows)
        .sort_values("n_unmatched", ascending=False)
        .reset_index(drop=True)
    )

In [73]:
overview = mismatches_per_well(mismatched_cells_12)
overview

   well  n_unmatched_A  n_unmatched_B  n_unmatched  symmetric
0    F4              2              2            2       True
1    C3              1              1            1       True
2   J19              1              1            1       True
3    M4              1              1            1       True
4   M10              1              1            1       True
5    L6              1              1            1       True
6    K7              1              1            1       True
7   K12              1              1            1       True
8    J9              1              1            1       True
9    J7              1              1            1       True
10  J13              1              1            1       True
11   C5              1              1            1       True
12   I3              1              1            1       True
13   H9              1              1            1       True
14  H22              1              1            1       True
15   G6              1              1            1       True
16  G15              1              1            1       True
17  G13              1              1            1       True
18  E22              1              1            1       True
19  N13              1              1            1       True

In [81]:
mismatched_cells_12["F4"]['unmatched_A'][['centroid-0', 'centroid-1']]

        centroid-0  centroid-1
633160  470.363636  543.509091
633161  469.788462  550.557692

In [80]:
mismatched_cells_12["F4"]['unmatched_B'][['centroid-0', 'centroid-1']]

        centroid-0  centroid-1
633160  469.693548  549.935484
633161  470.622222  542.800000

In [92]:
mismatched_cells_12["F4"]['unmatched_A']

,area,area_bbox,area_convex,axis_major_length,axis_minor_length,bbox-0,bbox-1,bbox-2,bbox-3,centroid-0,...,intensity_max,intensity_mean,intensity_min,intensity_std,orientation,path_in_well,perimeter,perimeter_crofton,solidity,_hash
633160,55.0,72.0,58.0,10.025907,7.010420,467.0,540.0,475.0,549.0,470.363636,...,9657.0,5257.581818,2138.0,1927.323445,-0.810943,0,25.899495,27.235778,0.948276,5992628226609854595
633161,52.0,72.0,57.0,9.557717,7.202834,466.0,547.0,475.0,555.0,469.788462,...,8814.0,5793.365385,2355.0,1654.235229,-0.182263,0,26.142136,27.465816,0.912281,14692529198288602755

In [93]:
mismatched_cells_12["F4"]['unmatched_B']

,area,area_bbox,area_convex,axis_major_length,axis_minor_length,bbox-0,bbox-1,bbox-2,bbox-3,centroid-0,...,intensity_max,intensity_mean,intensity_min,intensity_std,orientation,path_in_well,perimeter,perimeter_crofton,solidity,_hash
633160,62.0,81.0,63.0,8.994622,8.790308,466.0,546.0,475.0,555.0,469.693548,...,8814.0,5673.709677,2355.0,1604.082165,-0.418224,0,26.142136,27.465816,0.984127,18082681673879738294
633161,45.0,56.0,50.0,9.181190,6.441537,467.0,540.0,475.0,547.0,470.622222,...,9657.0,5303.377778,2138.0,2061.096303,-0.379252,0,24.278175,25.895019,0.900000,363005745853287607